@font-face {
    font-family: $font-george-x;
    src: url('/fonts/george-x-regular.woff2') format('woff2'),
        url('/fonts/george-x-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $font-suisse-bp;
    src: url('/fonts/suisse-bp-regular.woff2') format('woff2'),
        url('/fonts/suisse-bp-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $font-suisse-bp;
    src: url("//db.onlinewebfonts.com/t/03d5b20d124cd26dc873bd4a8e42313e.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/03d5b20d124cd26dc873bd4a8e42313e.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

// @font-face {
    //     font-family: $font-suisse-bp;
    //     src: url('/fonts/suisse-bp-light.woff2') format('woff2'),
    //         url('/fonts/suisse-bp-light.woff') format('woff');
    //     font-weight: 300;
    //     font-style: normal;
    //     font-display: swap;
    // }
    
    @font-face {
        font-family: $font-suisse-bp;
        src: url("/fonts/webfont-suisse.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    // url("https://db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.woff2") format("woff2"), 
    //  url("https://db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.woff") format("woff");
}